.row
  .twelve.columns
    %h1 Sign Up for Tixstr

.row
  .four.columns
  .four.columns
    =form_for @user do |f|
      =f.label :name
      =f.text_field :name, :autofocus => true, :placeholder => "Jane Doe"
      =f.label :email
      =f.text_field :email, :placeholder => "jane@doe.com"
      =f.label :password
      =f.password_field :password, :placeholder => "example: abc"
      =f.label :password_confirmation
      =f.password_field :password_confirmation, :placeholder => "example: abc"
      =f.submit nil, :class=>"button radius"
  .four.columns
